.wrapper{
    background-color: #FBF8EF;
    padding-left: 100px;
    font-family: 'Roboto', 'Arial';


    .BoxUeberschrift{
        margin-top: 0px;
        padding-top: 80px;
        color: #610B5E;
        font-size: 2rem;
    }

    .BoxUnterueberschriften{
        color: #8A0886;
        font-size: 1.2rem;
        margin-top: 50px;
    }

    .box1{
        background-color: #BCA9F5;
        width: 210px;
        height: 100px;
        display: inline-block;
        margin-left: 40px;
    }

    .box2{
        background-color: #BCA9F5;
        padding: 10px;
        display: inline-block;
        margin-left: 40px;
    }

    .box3{
        border: 3px solid #BCA9F5;
        display: inline-block;
        margin-left: 40px;
    }

    .box4{
        background-color: #BCA9F5;
        display: inline-block;
        margin-left: 80px;
    }

    .box5{
        background-color: #BCA9F5;
        display: inline-block;
        margin-left: 40px;
    }

    .box6{
        background-color: #BCA9F5;
        display: inline-block;
        margin-left: 40px;
        width: 200px;
    }

    .box7{
        background-color: #BCA9F5;
        display: inline-block;
        margin-left: 40px;
    }

    .box8{
        background-color: #BCA9F5;
        display: inline-block;
        margin-left: 40px;
        height: 100px;
    }

    .box9{
        background-color: #BCA9F5;
        display: inline-block;
        margin-left: 40px;
        height: 100px;
        width: 200px;
    }

    .box10{
        background-color: #BCA9F5;
        display: inline-block;
        margin-left: 40px;
        padding:10px;
    }

    .box11{
        background-color: #BCA9F5;
        display: inline-block;
        margin-left: 40px;
        padding:10px 20px;
    }

    .box12{
        background-color: #BCA9F5;
        display: inline-block;
        margin-left: 40px;
        padding:10px 20px 30px;
    }

    .box13{
        background-color: #BCA9F5;
        display: inline-block;
        margin-left: 40px;
        padding:10px 20px 30px 40px;
    }

    .box14{
        display: inline-block;
        margin-left: 40px;
    }

    .solid{
        border-style: solid;
    }

    .double{
        border-style: double;
    }

    .dashed{
        border-style: dashed;
    }

    .dotted{
        border-style: dotted;
    }

    .box15{
        border:3px solid #BCA9F5;
        margin-left: 40px;
    }

    .box16{
        border:10px solid #BCA9F5;
        margin-left: 40px;
    }

    .box17{
        border:3px solid black;
        margin-left: 40px;
    }

    .box18{
        border-top:3px solid #642EFE;
        border-right:5px double #0101DF;
        border-bottom:8px dashed #00BFFF;
        border-left:10px dotted #81F7BE;
    }

    .box19{
        background-color: #BCA9F5;
        display: inline-block;
        margin:10px;
    }

    .box20{
        background-color: #BCA9F5;
        display: inline-block;
        margin:10px 20px;
    }

    .box21{
        background-color: #BCA9F5;
        display: inline-block;
        margin:10px 20px 30px;
    }

    .box22{
        background-color: #BCA9F5;
        display: inline-block;
        margin:10px 20px 30px 40px;
    }

    .box23{
        background-color: #BCA9F5;
        display: inline-block;
        margin-right: 10px;
        margin-left: 40px;
    }

    .box24{
        background-color: #BCA9F5;
        display: inline-block;
        margin-left: 10px;
    }

    .box25{
        border-left: 3px solid #BCA9F5;
        display: inline-block;
        margin-left: 20px;
        padding-left: 10px;
    }

    .box26{
        background-color: #BCA9F5;
        display: inline-block;
        margin-left: 40px;
        margin-bottom: 10px;
    }

    .box27{
        background-color: #BCA9F5;
        display: inline-block;
        margin-left: 40px;
        margin-top: 20px;
    }

    .box28{
        border-top: 3px solid #BCA9F5;
        display: inline-block;
        margin-left: 40px;
        margin-top: 5px;
        padding-top: 5px;
    }

    .box29{
        background-color: #BCA9F5;
        display: inline-block;
        width: 25%;
    }

    .box30{
        background-color: #8b6ae6;
        display: inline-block;
        width: 75%;
    }

    .box31{
        background-color: #BCA9F5;
        display: inline-block;
        width: 25%;
        border-right: 10px solid black;
        box-sizing: content-box;
    }

    .box32{
        background-color: #8b6ae6;
        display: inline-block;
        width: 75%;
        box-sizing: content-box;
    }

    .box33{
        background-color: #BCA9F5;
        display: inline-block;
        width: 25%;
        border-right: 10px solid black;
        box-sizing: border-box;
    }

    .box34{
        background-color: #8b6ae6;
        display: inline-block;
        width: 75%;
        box-sizing: border-box;
    }

    .box35{
        background-color: #BCA9F5;
        margin-left: 40px;
        padding-left: 40px;
        padding-right: 40px;
        line-height: 80px;
    }

    .box36{
        background-color: #BCA9F5;
        display: inline-block;
        margin: 40px;
        padding: 40px;
    }

    .box37{
        background-color: #BCA9F5;
        display: inline-block;
        margin-left: 40px;
        height: 100px;
        width: 200px;
        overflow: visible;
    }

    .box38{
        background-color: #BCA9F5;
        display: inline-block;
        margin-left: 40px;
        height: 100px;
        width: 200px;
        overflow: hidden;
    }

    .box39{
        background-color: #BCA9F5;
        display: inline-block;
        margin-left: 40px;
        height: 100px;
        width: 200px;
        overflow: scroll;
    }

    .box40{
        background-color: #BCA9F5;
        display: inline-block;
        margin-left: 40px;
        height: 100px;
        width: 200px;
        overflow: auto;
    }

    .box41{
        background-color: #BCA9F5;
        display: inline-block;
        margin-left: 40px;
        height: 100px;
        width: 200px;
        overflow: inherit;
    }

    .pb100{
        padding-bottom: 100px;
    }

    .linone {
        display: inline;
    }




}

@media only screen and (max-device-width:40em) {
.wrapper{
    padding-left: 10px;
}
}