.wrapper{
    background-color: #FBF8EF;
    padding-left: 100px;

    .BoxUeberschrift{
        margin-top: 0px;
        padding-top: 80px;
        color: #610B5E;
        font-size: 2rem;
    }

    .BoxUnterueberschriften{
        color: #8A0886;
        font-size: 1.2rem;
    }

    .box1{
        background-color: #642EFE;
        width: 210px;
        height: 100px;
        display: inline-block;
        margin-left: 40px;
    }

    .box2{
        background-color: #642EFE;
        padding: 10px;
        display: inline-block;
        margin-left: 40px;
    }

    .box3{
        border: 3px solid #642EFE;
        display: inline-block;
        margin-left: 40px;
    }

    .box4{
        background-color: #642EFE;
        display: inline-block;
        margin-left: 80px;
    }

    .box5{
        background-color: #642EFE;
        display: inline-block;
        margin-left: 40px;
    }

    .box6{
        background-color: #642EFE;
        display: inline-block;
        margin-left: 40px;
        width: 200px;
    }

    .box7{
        background-color: #642EFE;
        display: inline-block;
        margin-left: 40px;
    }

    .box8{
        background-color: #642EFE;
        display: inline-block;
        margin-left: 40px;
        height: 100px;
    }

    .box9{
        background-color: #642EFE;
        display: inline-block;
        margin-left: 40px;
        height: 100px;
        width: 200px;
    }

    .box10{
        background-color: #642EFE;
        display: inline-block;
        margin-left: 40px;
        padding:10px;
    }

    .box11{
        background-color: #642EFE;
        display: inline-block;
        margin-left: 40px;
        padding:10px 20px;
    }

    .box12{
        background-color: #642EFE;
        display: inline-block;
        margin-left: 40px;
        padding:10px 20px 30px;
    }

    .box13{
        background-color: #642EFE;
        display: inline-block;
        margin-left: 40px;
        padding:10px 20px 30px 40px;
    }

    .box14{
        display: inline-block;
        margin-left: 40px;
    }

    .solid{
        border-style: solid;
    }

    .double{
        border-style: double;
    }

    .dashed{
        border-style: dashed;
    }

    .dotted{
        border-style: dotted;
    }

    .box15{
        border:3px solid #642EFE;
        margin-left: 40px;
    }

    .box16{
        border:10px solid #642EFE;
        margin-left: 40px;
    }

    .box17{
        border:3px solid black;
        margin-left: 40px;
    }

    .box18{
        border-top:3px solid #642EFE;
        border-right:5px double #0101DF;
        border-bottom:8px dashed #00BFFF;
        border-left:10px dotted #81F7BE;
    }

    .box19{
        background-color: #642EFE;
        display: inline-block;
        margin:10px;
    }

    .box20{
        background-color: #642EFE;
        display: inline-block;
        margin:10px 20px;
    }

    .box21{
        background-color: #642EFE;
        display: inline-block;
        margin:10px 20px 30px;
    }

    .box22{
        background-color: #642EFE;
        display: inline-block;
        margin:10px 20px 30px 40px;
    }




}